.flex{

	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}




.modal{
	display: none;
	position: fixed;
	z-index:1;
	overflow: auto;
	left: 0;
	top:2rem;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);
    z-index: 12;
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: 30%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: 1s;
}
@keyframes modal{
	from{top:-330px; opacity:0;}
	to{top:0; opacity:1;}
}
.close{
	color: #f2f2f2;
	font-size:30px;
	font-weight: bold;
}
.close:hover{
	color:#7f8c8d;
	text-decoration: none;
	cursor: pointer;
}

.modal-header, .footer{
	padding: 8px 16px;
	background: #ff5202;
	color:#f2f2f2;
}

p{
	text-align: justify;
}

.modal-body{
	padding: 20px 16px;
}

@media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
	.textos{
		padding: 150px;
	}
}

@media screen and (max-width:500px){
	.textos{
		padding:50px;
	}
}